<div class="roster-centercontent row">
        
        <div class="content-sec col-sm-8"> 
        	<h1 class="main-title">Physician Roster Challenge</h1>

        	<p>Provider Rosters' changes are difficult to capture and harder to share in a Physician practice. Roster updates are done on EHR/EMR, RCM and other systems, but are not integrated with Insurance Plans or with the Physician practice websites. This lack of automation adds cost, in addition to reducing productivity and sometimes even leading to revenue loss and an unsatisfactory patient experience. Insurance providers are on the hook for CMS penalties and so they spend money on manual cross checks to ensure that the rosters are up to date. Despite this, sometimes they have unsatisfactory member experiences leading to lost customers.</p> 
        	<h2 class="main-title"> RosterSource Platform as a Service (PaaS) open source solution</h2>
              <p>RosterSource Platform solves this problem by bringing real-time Provider roster data from various internal Physician Practice systems securely to authorized and Practice approved RosterSource users on the RosterSource network. These users can be other peer Physician Practices or plans that individual providers have contracted with, for healthcare services. The history of all the roster changes  including RosterSource address duplication, merger and conflict resolution of the Physicians roster  is maintained. </p>
              <div class="">
              	<a href="#" target="_blank" type="button" data-toggle="modal" data-target="#myModal" class="btn btn-sm btn-lg btn-block comment-btn">Question or Comments</a>
          	  </div>
        </div>
         
        <div class="image-sec col-sm-4 demo-form">

        	<p>Ask a demonstration of RosterSource platform or to join the RosterSource Community.</p>
            		<form id = "mainform" class="" action="https://formspree.io/vinod.g@citrusinformatics.com" method="POST">
						
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">First Name</label>
							<div class="">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="First name" id="name"  />
									
								</div>
								<span  class="error" id="fname" style="display:none">Enter first name</span>
							</div>
						</div>

						<div class="form-group">
							<label for="lname" class="cols-sm-2 control-label">Last Name</label>
							<div class="">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="Last name" id="secondname"  />
								</div>
								<span  class="error" id="lastname" style="display:none">Enter last name</span>
							</div>
						</div>

						<div class="form-group">
							<label for="username" class="cols-sm-2 control-label">Institution</label>
							<div class="">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="Institution" id="institution"  />
								</div>
								<span  class="error" id="error-institution" style="display:none">Enter institution</span>
							</div>
						</div>

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Business Email ID</label>
							<div class="">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="email" class="form-control" name="Email" id="emailid"/>
									
								</div>
								 <span  class="error" id="emailaddress" style="display:none">Enter a valid email</span>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Phone Number</label>
							<div class="">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
									<input type="number" class="form-control"  name="Phone" id="phonenumber"/>
								</div>
								<span  class="error" id="error-phone" style="display:none">Enter a valid contact number</span>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Job Title</label>
							<div class="">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-briefcase" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="Jobtitle" id="job"/>
								</div>

								<span  class="error" id="error-job" style="display:none">Enter job title</span>
							</div>
						</div>

						<div class="form-group ">
							<input type="submit" value="Submit" id="submit"class="btn btn-sm btn-lg btn-block login-submit-button">
						</div>
						
					</form>
        </div>

</div>